.card {
  border: 1px solid #964848;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  transition: transform 0.2s;
  align-items: center;
  justify-items: center;
  min-width: 22vw;
  background: #fff;
}

.card h2 {
  color: #964848;
}

.card:hover {
  transform: scale(1.02);
}

.card button {
  justify-self: center;
  color: brown;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  opacity: 0.9;
  background: brown;
  color: #fff;
}
